# Assignment for Week 5      
(Chapter 6 & 7)

## Purpose:
This assignment is intended to help you do the following:       
1.	Differentiate between categorical and non-categorical variables
2.	Convert variables from one type to another
3.	Familiarize with strings

## Action Items:      
â€¢	Convert data
1. Work on your selected data set and covert a column of non-categorical type into a categorical type. 
2. Convert another column into a string type. 
3. Post your work on GitHub
4. Add a README file

In [0]:
# Let's load the dataset and verify the top five rows
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/frankData612/data_612/master/State_Drug_Utilization_Data_2010/State_Drug_Utilization_Data_2010.csv')
df.head()

   Unnamed: 0 Utilization Type  ...             Location          NDC
0      128037             MCOU  ...  (31.1801, -91.8749)  37205013705
1      491755             FFSU  ...  (39.3498, -75.5148)  62756076388
2     2568076             FFSU  ...  (44.2853, -99.4632)  46987032311
3      491263             FFSU  ...  (43.3504, -84.5603)    781518501
4      836489             FFSU  ...                  NaN  51552080906

[5 rows x 21 columns]

In [0]:
# Let's see the type of date in the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156220 entries, 0 to 156219
Data columns (total 21 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Unnamed: 0                      156220 non-null  int64
 1   Utilization Type                156220 non-null  object
 2   State                           156220 non-null  object
 3   Labeler Code                    156220 non-null  int64
 4   Product Code                    156220 non-null  int64
 5   Package Size                    156220 non-null  int64
 6   Year                            156220 non-null  int64
 7   Quarter                         156220 non-null  int64
 8   Product Name                    156166 non-null  object
 9   Units Reimbursed                156220 non-null  float64
 10  Suppression Used                156220 non-null  bool
 11  Number of Prescriptions         156220 non-null  int64
 12  Total Amount Reimbursed         156220 non-null  float64
 13  Medicaid Amount Reimbursed      156220 non-null  float64
 14  Non Medicaid Amount Reimbursed  156220 non-null  float64
 15  Quarter Begin                   156220 non-null  object
 16  Quarter Begin Date              156220 non-null  object
 17  Latitude                        145416 non-null  float64
 18  Longitude                       145416 non-null  float64
 19  Location                        145416 non-null  object
 20  NDC                             156220 non-null  int64
dtypes: bool(1), float64(6), int64(8), object(6)
memory usage: 24.0+ MB

In [0]:
# Let's convert the Utilization Type (Listed as "object") into CATEGORICAL DATA type
df['Utilization Type'] = df['Utilization Type'].astype('category')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156220 entries, 0 to 156219
Data columns (total 21 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Unnamed: 0                      156220 non-null  int64
 1   Utilization Type                156220 non-null  category
 2   State                           156220 non-null  object
 3   Labeler Code                    156220 non-null  int64
 4   Product Code                    156220 non-null  int64
 5   Package Size                    156220 non-null  int64
 6   Year                            156220 non-null  int64
 7   Quarter                         156220 non-null  int64
 8   Product Name                    156166 non-null  object
 9   Units Reimbursed                156220 non-null  float64
 10  Suppression Used                156220 non-null  bool
 11  Number of Prescriptions         156220 non-null  int64
 12  Total Amount Reimbursed         156220 non-null  float64
 13  Medicaid Amount Reimbursed      156220 non-null  float64
 14  Non Medicaid Amount Reimbursed  156220 non-null  float64
 15  Quarter Begin                   156220 non-null  object
 16  Quarter Begin Date              156220 non-null  object
 17  Latitude                        145416 non-null  float64
 18  Longitude                       145416 non-null  float64
 19  Location                        145416 non-null  object
 20  NDC                             156220 non-null  int64
dtypes: bool(1), category(1), float64(6), int64(8), object(5)
memory usage: 22.9+ MB
None

***ACTION ITEM 1 - Non-categorical to categorocal Dtype: *** 
As you can see from the "df.info" syntax the Utilization Type "Dtype" is now "category" from it's orginal print out of "object".

In [0]:
# Now let's change that Column back to it's original Dtype of "object"
df['Utilization Type'] = df['Utilization Type'].astype('object')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156220 entries, 0 to 156219
Data columns (total 21 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Unnamed: 0                      156220 non-null  int64
 1   Utilization Type                156220 non-null  object
 2   State                           156220 non-null  object
 3   Labeler Code                    156220 non-null  int64
 4   Product Code                    156220 non-null  int64
 5   Package Size                    156220 non-null  int64
 6   Year                            156220 non-null  int64
 7   Quarter                         156220 non-null  int64
 8   Product Name                    156166 non-null  object
 9   Units Reimbursed                156220 non-null  float64
 10  Suppression Used                156220 non-null  bool
 11  Number of Prescriptions         156220 non-null  int64
 12  Total Amount Reimbursed         156220 non-null  float64
 13  Medicaid Amount Reimbursed      156220 non-null  float64
 14  Non Medicaid Amount Reimbursed  156220 non-null  float64
 15  Quarter Begin                   156220 non-null  object
 16  Quarter Begin Date              156220 non-null  object
 17  Latitude                        145416 non-null  float64
 18  Longitude                       145416 non-null  float64
 19  Location                        145416 non-null  object
 20  NDC                             156220 non-null  int64
dtypes: bool(1), float64(6), int64(8), object(6)
memory usage: 24.0+ MB
None

So, from the syntax above the Utilization Type has been changed back to it;s original Dtype - "object".

In [0]:
# Next, let's converter a different Column Dtype to a String
df['Suppression Used'] = df['Suppression Used'].astype('str')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156220 entries, 0 to 156219
Data columns (total 21 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Unnamed: 0                      156220 non-null  int64
 1   Utilization Type                156220 non-null  object
 2   State                           156220 non-null  object
 3   Labeler Code                    156220 non-null  int64
 4   Product Code                    156220 non-null  int64
 5   Package Size                    156220 non-null  int64
 6   Year                            156220 non-null  int64
 7   Quarter                         156220 non-null  int64
 8   Product Name                    156166 non-null  object
 9   Units Reimbursed                156220 non-null  float64
 10  Suppression Used                156220 non-null  object
 11  Number of Prescriptions         156220 non-null  int64
 12  Total Amount Reimbursed         156220 non-null  float64
 13  Medicaid Amount Reimbursed      156220 non-null  float64
 14  Non Medicaid Amount Reimbursed  156220 non-null  float64
 15  Quarter Begin                   156220 non-null  object
 16  Quarter Begin Date              156220 non-null  object
 17  Latitude                        145416 non-null  float64
 18  Longitude                       145416 non-null  float64
 19  Location                        145416 non-null  object
 20  NDC                             156220 non-null  int64
dtypes: float64(6), int64(8), object(7)
memory usage: 25.0+ MB
None

**ACTION ITEM 2 - Convert another Column into a String.** As you acn see from the syntax above the Column "Suppression Used" was changed from Dtype "bool" to Dtype "object".

In [0]:
# Again, let's change it back to it's orginal Dtype of "bool"
df['Suppression Used'] = df['Suppression Used'].astype('bool')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156220 entries, 0 to 156219
Data columns (total 21 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Unnamed: 0                      156220 non-null  int64
 1   Utilization Type                156220 non-null  object
 2   State                           156220 non-null  object
 3   Labeler Code                    156220 non-null  int64
 4   Product Code                    156220 non-null  int64
 5   Package Size                    156220 non-null  int64
 6   Year                            156220 non-null  int64
 7   Quarter                         156220 non-null  int64
 8   Product Name                    156166 non-null  object
 9   Units Reimbursed                156220 non-null  float64
 10  Suppression Used                156220 non-null  bool
 11  Number of Prescriptions         156220 non-null  int64
 12  Total Amount Reimbursed         156220 non-null  float64
 13  Medicaid Amount Reimbursed      156220 non-null  float64
 14  Non Medicaid Amount Reimbursed  156220 non-null  float64
 15  Quarter Begin                   156220 non-null  object
 16  Quarter Begin Date              156220 non-null  object
 17  Latitude                        145416 non-null  float64
 18  Longitude                       145416 non-null  float64
 19  Location                        145416 non-null  object
 20  NDC                             156220 non-null  int64
dtypes: bool(1), float64(6), int64(8), object(6)
memory usage: 24.0+ MB
None

And once again the Dtype for "Suppression Used" has been changed back to it's original form ("bool") from being converted to "object".

**SUMMARY:**

We have used the ".astype" syntax in Pandas to convert various columns from one Dtype to another. In this case from a non-categorical Dtype to a categorical Dtype (Action Item 1).

Next we used the ".astype" syntax to convert a different Column Dtype to a String (Action Item 2). In my example I converted a Dtype of "bool" to Dtype "object, and then converted it back to it's original Dtype of "bool" using the ".astype" syntax.

From our lecture notes we have seen that Dtypes govern which operations can and cannot be performed on a given column. The ability to convert a Column type gives the analyst another tool so that the dataset can be prepared and cleaned for further data modeling/exploration and algorithm use.